# ==================================================
# IDE
# ==================================================
.vscode/
.idea/

# ==================================================
# OS Files
# ==================================================
.DS_Store
Thumbs.db

# ==================================================
# Python (Backend)
# ==================================================
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/


backend/__pycache__/
backend/*.py[cod]
backend/.pytest_cache/
backend/.mypy_cache/

# ==================================================
# Virtual Environments
# ==================================================
.venv/
venv/
env/
*.pyc

backend/.venv/
backend/venv/
backend/env/
backend/*.pyc

# ==================================================
# Root Environment
# ==================================================
backend/.env
backend/.env.*
backend/.env.local
backend/.env.*.local
.env
.env.*
.env.local
.env.*.local

# ==================================================
# Backend Environment
# ==================================================
backend/.env
backend/.env.*
backend/.env.local
backend/.env.*.local

# ==================================================
# Front Environment
# ==================================================
frontend/.env
frontend/.env.*
frontend/.env.local
frontend/.env.*.local

# ==================================================
# CONFIG files
# ==================================================
backend/core/config.py
backend/core/config
backend/app/core/config.py
backend/app/core/config

# ==================================================
# Node/Frontend
# ==================================================
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/

# ==================================================
# Logs
# ==================================================
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# ==================================================
# Docs Markdown files
# ==================================================
docs/guidelines/
docs/guidelines/guidelines.md
docs/FRONTEND_API_WIRING_STEPS.md
docs/GIT_GITHUB_GUIDELINES.md
docs/SAAS_BACKEND_IMPLEMENTATION_GUIDE.md
ATTRIBUTIONS.md
CHANGELOG.md
CONTRIBUTING.md

# ==================================================
# Coverage
# ==================================================
.coverage
coverage/
htmlcov/

# ==================================================
# Supabase
# ==================================================
supabase/.temp/
supabase/.branches/

# Ignore package lock if needed
# package-lock.json

# ==================================================
# Database
# ==================================================
*.sqlite3

# Ignore Vite config if needed
#vite.config.ts